@()

<!DOCTYPE html>

<html lang="en" ng-app="app">
    @header()
<body>
@navbar()
<div class="container-fluid" ng-controller="ConfigController">
    <div class="panel panel-default">
        <div class="panel-heading">Configuration
            <label>env:<select ng-model="env">
                <option ng-repeat="env in environments"></option>
            </select></label>
        </div>
        <div class="panel-body container">
            <div class="row form-group" ng-repeat="parameter in parameters">
                <div class="col-lg-4">
                    <label>{{parameter.name}}<input class="form-control" type="text" ng-model="parameter.value"/></label>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-default" ng-show="parameter.value != parameter.initValue">
                        <span class="glyphicon glyphicon-check"></span>
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="DeployController" >
    <div class="panel">
        <div class="panel-heading">
            {{applicationName}}
        </div>
        <div class="panel-body container">
            <div class="row">
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
